:root {
    --blue: #1f77b4;
    --orange: #ff7700;
    --green: #2ca02c;
    --red: #d62728;
    --purple: #9467bd;
  }

  .blue {
    color: var(--blue);;
  }

  .orange {
    color: var(--orange);;
  }

  .green {
    color: var(--green);;
  }

  .red {
    color: var(--red);;
  }

  .purple {
    color: var(--purple);;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
